<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TinyAgainstTheGiants.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BC0E3FC1E177A1B0087C7E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC0E4161E177A1C0087C7E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC0E4211E177A1C0087C7E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
